{
  "extends": "standard",
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "parser": "vue-eslint-parser",
  "plugins": [
    "vue",
    "html"
  ],
  "rules": {
    "no-new": "off",
    "space-before-function-paren": 0
  }
}
